body {
    background-color: rgb(43, 226, 217);
    text-align: center;
    font-family: 'Manrope', sans-serif;
}


h1  {
    font-size: 50pt;
    margin-bottom: 300pt;
    margin-top: 300pt;
}

p  {
    font-size: 20pt;
}

.red-text {
    color: blue
}

#knees {
    font-stretch: ultra-expanded;
    color: red
}

